.cover__title {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    padding-top: 274px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
}

@media screen and (max-width: 1184px) {
    .cover__title {
        max-width: 558px;
        padding-top: 16.55vw;
    }
}

@media screen and (max-width: 760px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
    }
}
