.lead__image {
    display: block;
    margin: 78px auto 0;
    width: 984px;
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width: 1280px) {
    .lead__image {
        width: calc(100% - 96px);
        max-width: 984px;
    }
}

@media screen and (max-width: 1024px) {
    .lead__image {
        width: 100%;
        max-width: 928px;
    }
}

@media screen and (max-width: 425px) {
    .lead__image {
        margin: 32px auto 0;
    }
}