.lead__subtitle {
    width: 583px;
    margin: 48px auto 0;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        width: calc(100vw - 48px);
        max-width: 720px;
    } 
}

@media screen and (max-width: 760px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 23px;
    } 
}

@media screen and (max-width: 425px) {
    .lead__subtitle {
        margin: 8px auto 0;
    } 
}
